# Виртуальное окружение (оно создается локально под каждую ОС)
venv/
env/
.env

# Байт-код Python
__pycache__/
*.pyc

# Файлы сборки PyInstaller
build/
dist/
*.spec

# База данных (у каждого сервера своя)
*.db
strata.db

# Конфигурация с секретами (Ключи API!)
strata.ini

# Логи и временные файлы
*.log
.DS_Store
